*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
#demo{
    font-size: 10px;
}
main{
    height: 100vh;
    width: 100%;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.main__container{
    width: 48vw;
    height: 50vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.input{
    width: 22vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}
.output{
    width: 22vw;
    height: 100%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.tip_buttons{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    
}
button, #custom{
    width: 6vw;
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
}
button:hover{
    background-color: hsl(133, 80%, 60%);
}
#custom{
    background-color: hsl(189, 41%, 97%);
    color: black;
    text-align: end;
}
h4{
    padding-bottom: 8px;
}

#bill{
    background-image: url('images/icon-dollar.svg');
    background-position:left;
    background-repeat: no-repeat;
    text-align: end;
    padding: 10px;
    background-color: hsl(189, 41%, 97%);
    border-radius: 10px;
    border: none;
    width: 20vw;
}
#people{
    background-image: url('images/icon-person.svg');
    background-position: left;
    background-repeat: no-repeat;
    text-align: end;
    padding: 9px;
    background-color: hsl(189, 41%, 97%);
    border-radius: 10px;
    border: none;
    width: 19vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tip_amount, .total{
    display: flex;
    justify-content: space-between;
}
.reset{
    align-items: center;

}
.button_reset{
    width: 19vw;
    background-color: hsl(123, 100%, 10%);
    border: none;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
    color: hsl(0, 0%, 28%);
    border-radius: 5px;
}
.button_reset:hover{
    background-color: hsl(134, 21%, 28%);
    color: hsl(0, 2%, 20%);
}
.amt_result, .tip_result{
    font-size: 32px;
    color: hsl(120, 67%, 34%);
}.total{
    padding-top: 5px;
}
h3{
    font-size: 17px;
    color: white;
}
p{
    font-size: 13px;
    color: rgb(167, 172, 172);
}
.tooltip  {  
    display: inline;  
    position: relative;  
    text-decoration: none;  
    top: 5px;  
    left: 4px;  
}  
.tooltip:hover:after  {  
    background: rgb(99, 192, 99);  
    background: rgba(75, 180, 5, 0.445);  
    border-radius: 3px;  
    top: -5px;  
    color: rgb(255, 0, 0);  
    content: attr(alt); 
    top: -25px; 
    left: 170px;  
    padding: 3px 3px;  
    position: absolute;  
    z-index: 98;  
    width: 150px; 
    font-size: 10px; 
    width: 80px;
}  
/* .tooltip:hover:before  {  
    border: solid;  
    border-color: transparent black;  
    border-width: 6px 6px 6px 0;  
    bottom: 20px;  
    content: "";  
    left: 150px;  
    position: absolute;  
    z-index: 99;  
    top: 3px;  
}   */
a{
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 884px) {
    main{
        height: 100vh;
        width: 100%;
        background-color: hsl(185, 41%, 84%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
    }
    .main__container{
        width: 63vw;
        height: 200%;
        background-color: beige;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .input{
        width: 55vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
    }
    .output{
        width: 55vw;
        height: 100%;
        background-color: hsl(183, 100%, 15%);
        border-radius: 15px;
    }
    button, #custom{
        width: 10vw;
    }
    #custom{
        background-color: hsl(189, 41%, 97%);
        color: black;
        text-align: end;
        font-size: 9px;
        padding: 10px;
    }
    #bill{
        width: 52vw;
    }
    #people{
        width: 50vw;
    }

    .button_reset{
        width: 45vw;
    }
}



